<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tamagotchi</title>
</head>
<body>

    <div th:each="mensagem : ${mensagens}">
        <p th:text="${mensagem}"></p>
    </div>

    <form method="POST">
        <p>Nome: <input type="text" name="nome"></p>
        <p>Username: <input type="text" name="username"></p>
        <p>Senha: <input type="password" name="senha"></p>
        <p>Nome do pet: <input type="text" name="nomePet"></p>
        <button type="submit">Cadastrar-se</button>
    </form>
    
</body>
</html>